$blue: #3b82f6;
$blue-light: #d9e6fc;
$bg: #f5f7fb;
$text: #1f2937;
$muted: #6b7280;
$border: #bfd4fe;


.sidebar {
    width: 320px;
    background: #fff;
    border-right: 5px solid $border;
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.sidebarHeader {
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid $border;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    flex: 1;
    overflow-y: auto;
}

.item {
    display: flex;
    gap: 12px;
    padding: 12px 16px;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
        background: $blue-light;
    }
}

.active {
    background: $blue-light;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #dbeafe;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;  
}


.meta {
    flex: 1;
}

.nameRow {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: $text;
}

.lastMsg {
    font-size: 13px;
    color: $muted;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge {
    background: $blue;
    color: #fff;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 999px;
}