.cardItem {
    background-color: #eef5ff;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
    width: 100%;
    cursor: pointer;
    &:hover {
        transform: translateY(-1.5px);
        box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.15);
    }
}
.card{
    display: flex;
    align-items: center;
    height: 100%;

}
.cardImg{
    height: 140px;
    width: auto;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    overflow: hidden;
    aspect-ratio: 3/2;
    flex-shrink: 0 0 ;
    object-fit: cover;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }
}
.cardContent{
    height: 100%;
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 16px;
    }
.learnerName{
    font-size: 1.8rem;
    margin-bottom: 6px;
}
.address{
    font-size: 1.2rem;
    margin-bottom: 6px;
    color: var(--text-c-03);
}
.subject{
    flex: 1;
    font-size: 1.6rem;
    color: var(--text-c-03);
    margin-top: 4px;
}
.date{
    font-size: .8rem;
    color: var(--text-c-04);
    margin-bottom: 8px;
}
//responsive dựa trên 4 size của Grid MUI mobile xs, sm, md, lg về moblie cardImg sẽ ở trên card content sẽ ở dưới
// font - size nhỏ nhơn 1 xíu cho dễ nhìn
//ở mobile card img sẽ là 200px
@media (max-width: 600px) {
    .card{
        flex-direction: column;
        }
    .cardImg{
        width: 100%;
        height: 220px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0;
        img{
            border-top-right-radius: 12px;
            border-bottom-left-radius: 0;
        }
    }
    .cardContent{
        width: 100%;
        margin-left: 0;
        margin-top: 12px;
        padding: 8px 12px;
    }
    .learnerName{
        font-size: 1.55rem;
    }
    .subject{
        font-size: 1.35rem;
    }
}
@media (min-width: 601px) and (max-width: 960px) {
    .cardImg{
        // width: 50%;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0;
        img{
            border-top-right-radius: 12px;
            border-bottom-left-radius: 0;
        }
    }
    .cardContent{
        width: 50%;
    }
    .learnerName{
        font-size: 1.6rem;
    }
    .subject{
        font-size: 1.4rem;
    }
}