.drawer{
    position: fixed;
    background-color: #e3e3e3;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    .button{
        padding: 12px 0;
        min-width: 42px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        .menuIcon{
            font-size: 2.8rem;
            }
    }
}
.drawerContent{
    font-size: 1.4rem;
}