.group{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    padding: 8px;
}
.label{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-c);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

    .labelIcon {
        color: var(--primary-c);
        font-size: 1.2rem;
    }

    .required{
        font-size: 1.6rem;
        color: #d33;
        margin-left: 4px;
    }
}
.input {
  font-family: 'Inter';
  min-height: 38px;
  max-height: 120px;
  max-width: 100%;
  width: 100%;
  resize: vertical;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: var(--input-bgr);
  font-size: 1.4rem;
  line-height: 1.5;
  outline: none;
  box-shadow: 0 0 2px transparent;
  transition: all 0.12s ease-in-out;

  &:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
    opacity: 0.7;
  }
}
.input:focus {
  border-color: var(--primary-c);
  box-shadow: 0 0 2px var(--primary-c);
  background: var(--btn-bgr-white);
}
.textarea {
  min-height: 100px;
  max-height: 300px;
  resize: vertical;
}
.invalid { border-color: #d33; }
.error { color: #d33; font-size: 1.2rem; }
.selectedValues{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 8px;
  margin-bottom: 8px;

  .selectedItem{
    font-size: 1.2rem;
    background-color: #e8e8e8;
    border-radius: 8px;
    line-height: 32px;
    padding-left: 8px;
    button
    {
      margin-left: 4px;
      padding: 2px 4px;
      font-weight: bold;
      background-color: transparent;
      color: #2c2c2c;
      line-height: 32px;
      padding: 0 8px;
      &:hover{
        color: #d33;
        cursor: pointer;
      }
  }
  }
}

.select {
  max-height: 180px;
  overflow-y: auto;
}