.notification{
    position: relative;
    margin-right: 16px;
}
.notificationIcon{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: rgba(0, 0, 0, 0.03);
        cursor: pointer;
    }
}
.notificationIconItem{
    font-size: 2.4rem;
}
.notificationNumber{
    position: absolute;
    right: 4px;
    top: 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: #b71c1c;
}