.contact-page {
  font-family: "Poppins", sans-serif;
  color: #333;
  max-width: 1200px;
  margin: 100px auto;

  .map-container {
    width: 100%;
    height: 400px;
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  .contact-content {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    max-width: 1200px;
    gap: 40px;

    .contact-form {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 15px;

      h2 {
        margin-bottom: 15px;
      }

      input,
      textarea {
        padding: 14px;
        border-radius: 5px;
        border: 1px solid #ccc;
        outline: none;
        font-size: 14px;
      }

      textarea {
        resize: vertical;
        min-height: 120px;
      }

      .btn-submit {
        background: #3578e5;
        color: #fff;
        padding: 12px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background: #2851a3;
        }
      }
    }

    .contact-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 15px;

      .logo {
        h2 {
          color: #3578e5;
          margin: 0;
        }
        p {
          margin: 0;
          font-size: 14px;
        }
      }

      p {
        font-size: 14px;
        line-height: 1.6;
      }

      .info-item {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;

        .icon {
          color: #3578e5;
        }
      }
    }
  }
}
